.cardContainer{
   margin-top: 2%;
}
.card{
    margin-top: 2%;
    margin: 3%;
    padding: 2%;
   
}
.cardimg{
    height: 280px;
}
.title{
     margin-top: 2%;
     text-align: left;
     padding: 10px;
     background: -webkit-linear-gradient(rgb(255, 249, 249), rgb(226, 226, 226));
}